# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE / editor
.ropeproject/
.idea/
.vscode/
*.swp
*.swo
*~

#don't track phat .pdfs
*.pdf
# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Temporary / generated
temp/
tmp/
*.bak
*.log

# LaTeX build artifacts
final-draft/*.aux
final-draft/*.bcf
final-draft/*.lof
final-draft/*.log
final-draft/*.out
final-draft/*.run.xml
final-draft/*.toc
final-draft/*.pdf
